
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Julius+Sans+One&family=Koulen&display=swap');


.footer_container {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    background-color: #DFD7BF;
    margin-bottom: 0; /* Remove or reduce margin-bottom */
}

.brand{
color: #000;
text-align: center;
font-family: 'Cinzel', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Koulen', cursive;
font-size: 1.5rem;
font-weight: 500;
margin: 0;
}

.tandc{
    color: #000;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
margin: 10px 0;
text-align: center;
text-decoration-line: underline;
}