
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Julius+Sans+One&display=swap');


.page{
    display: flex;
    flex-direction: row;
}

.main_buttons{
    display: flex;
    justify-content: center;
    gap: 91px ;
    padding-left: 390px ;
}

.main_buttons .buy_btn{
    color: #F5F5F5;
    background-color:#F5C533 ;
    height: 55px;
    width:175px;
    border: transparent;
    font-size: 22px;
    font-family: 'Julius Sans One', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main_buttons .add_btn{
    font-size: 22px;
    font-family: 'Julius Sans One', sans-serif;
    color: #F5F5F5;
    background-color:#3F2305 ;
    height: 55px;
    width:175px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image{
    padding-left: calc(551px - 204px) ;
    padding-top: 34px;

}

.logo{
    padding-top: 60px;
    padding-right: 100px ;
    justify-content: center;
}